@model Magm.Productos.BE.Producto

@{
    ViewBag.Title = "DetallesProducto";
}

<h2>DetallesProducto</h2>

<fieldset>
    <legend>Producto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stock)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stock)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.marca)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.marca)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.precio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "ActualizarProducto", new {  id=Model.codigo }) |
    @Html.ActionLink("Back to List", "ListarProducto")
</p>
